/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-10-03, 19:39:25
    Author     : julien
*/

tr:nth-child(even) {background-color: #f2f2f2}
th {
    background-color: #4682B4;
    color: #8B0000;
}
table
{ 
    margin-left: auto;
    margin-right: auto;
}
body {
    background-image:url("degrad.jpg");
    background-repeat: repeat
}
td {
  
   background-color: white; 
} 
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4682B4;
}

li {
    float: left;
}

li a {
    display: block;
    color: #8B0000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li a:hover {
    background-color: #696969;
}
header  {
    width: 700px;
    padding: 10px;
    border: 5px solid darkred;
    margin: 0; 
    background-color: #4682B4;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
}
#header5{
    width: 600px;
    padding: 10px;
    border: 5px solid darkred;
    margin: 0; 
    background-color: #4682B4;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
}
#header6 {
    width: 820px;
    padding: 10px;
    border: 5px solid darkred;
    margin: 0; 
    background-color: #4682B4;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
}
#img1
{
margin-left: 500px;
border: 5px solid darkred;
}
#img2 {
   margin-left:250px;
   border: 5px solid darkred;
}
p {
width: 700px;
    padding: 10px;
    border: 5px solid darkred;
    margin: 0; 
    background-color: #4682B4;
    margin-left: auto;
    margin-right: auto;
    text-align: center;    
}
#oakley
{
margin-left: 425px;
border: 5px solid darkred;   
}
img
{
 border: 5px solid darkred;   
}
#coucou
{
text-decoration: underline;    
}
#doua
{
margin-left: 250px;  
border: 5px solid darkred;    
}
#campi
{
margin-left: 500px;  
border: 5px solid darkred;    
}
#bs
{
margin-left:350px;
}
#a1:visited { 
color: #FF1493;
}
footer
{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4682B4;  
    text-align: center;
    color : white;
    border: 5px solid darkred;
}
